body {
    background-color: #000000; 
    font-family: 'Times New Roman','Times New Roman';
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 26px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .input-container {
    margin-bottom: 30px;
  }
  
  .button {
    background-color: #000000;
    font-family: 'Times New Roman'; 
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: solid;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .file-list {
    list-style-type: none;
    padding: 0;
  }
  
  .file-list li {
    margin-bottom: 15px;
  }
  
  .footer {
    text-align: center;
    margin-top: 250px;
    font-size: 15px;
    color: #ffffff;
  }
  
